extends _layout.pug

block variables
    -
        var title = 'Где поесть'
        var description = 'Где поесть'
        var index = false

        var guide = {
            items: [
                {
                    type: 'Рестораны',
                    title: 'Ресторан АМАКС «Россия»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Бары и пабы',
                    title: 'Майкрофт паб',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Бары и пабы',
                    title: 'Коктейль-бар «Вандам»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Рестораны',
                    title: 'Ресторан «Садко»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Чайханы',
                    title: 'Чайхана «Сказка»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Чайханы',
                    title: 'Чайхана «Сказка»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Рестораны',
                    title: 'Ресторан «Садко»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Чайханы',
                    title: 'Чайхана «Сказка»',
                    city: 'Великий Новгород',
                },
                {
                    type: 'Чайханы',
                    title: 'Чайхана «Сказка»',
                    city: 'Великий Новгород',
                },
            ]
        }

block content
    .intro.intro--small.intro--gde-poest
        .container
            p.intro__subheader Местная кухня
            h1.intro__header ГДЕ ПОЕСТЬ В <br>НОВГОРОДСКОЙ ОБЛАСТИ
            include components/play-video-button.pug
            .intro__text Лучшие кафе и рестораны в регионе
            .intro-grid
                .intro__item
                    .intro__item-text разнообразие <br>гастрономических мест <br>от классики до модерна
                .intro__item
                    .intro__item-text открытые кухни, <br>шеф-повара и <br>мастер-классы
                .intro__item
                    .intro__item-text для двоих и <br>всей семьи
    .section.section--white.guide
        .container
            .guide-top
                h2.guide__header ГДЕ поесть
            .guide-bottom
                .guide-aside
                    .guide-accordion.accordion
                        .guide-accordion__item.accordion__item
                            .guide-accordion__item-head.accordion__item-head Выбери район
                            .guide-accordion__item-body.accordion__item-body
                                .guide__type.active Все районы
                                .guide__type Батецкий район
                                .guide__type Боровичский район
                                .guide__type Валдайский район
                                .guide__type Великий новгород
                                .guide__type Волотовский округ
                                .guide__type Демянский район
                                .guide__type Крестецкий район
                                .guide__type Любытинский район
                                .guide__type Маловишерский район
                                .guide__type Маревский округ
                                .guide__type Мошенской район
                                .guide__type Новгородский район
                                .guide__type Окуловский район
                                .guide__type Парфинский район
                                .guide__type Пестовский район
                                .guide__type Поддорский район
                                .guide__type Солецкий округ
                                .guide__type Старорусский район
                                .guide__type Хвойнинский округ
                                .guide__type Холмский район
                                .guide__type Чудовский район
                                .guide__type Шимский район
                        .guide-accordion__item.accordion__item
                            .guide-accordion__item-head.accordion__item-head Выбери тип впечатления
                            .guide-accordion__item-body.accordion__item-body
                                .guide__type.active Экскурсии
                                .guide__type События
                                .guide__type Музеи
                                .guide__type Мастер-классы
                                .guide__type Культура
                                .guide__type Выставки
                                .guide__type Религия
                                .guide__type Активный отдых
                                .guide__type Детский отдых
                                .guide__type Оздоровительный туризм
                                .guide__type Необычные места
                                .guide__type Поклонный туризм
                                .guide__type Гастрономический туризм
                                .guide__type Охота и рыбалка
                        .guide-accordion__item.accordion__item
                            .guide-accordion__item-head.accordion__item-head Способ передвижения
                            .guide-accordion__item-body.accordion__item-body
                        .guide-accordion__item.accordion__item
                            .guide-accordion__item-head.accordion__item-head Города
                            .guide-accordion__item-body.accordion__item-body
                .guide-content
                    .guide-grid
                        each item in guide.items
                            .guide__item
                                .guide__item-discount
                                    .guide__item-discount-value -15%
                                    .guide__item-discount-text по карте гостя
                                img.guide__item-image(src="" alt="")
                                .guide__item-content
                                    .guide__item-type !{item.type}
                                    .guide__item-title !{item.title}
                                    .guide__item-city !{item.city}
                    include components/controls.pug
    .section.section--gray.section--middle
        include components/card.pug
        .container
            include components/how-to-get.pug
    include components/partners.pug
    .section.section--gray.welcome
        include components/welcome.pug



