extends _layout.pug

block variables
    -
        var title = 'Как добраться'
        var description = 'Как добраться'
        var index = false

        var travel = {
            header: 'Сделано при нашем участии',
            items: [
                {
                    image: '',
                    header: 'Гастрономический фестиваль «Князь, Вы кушать хотите?»',
                    text: 'III Гастрономический фестиваль «Князь, Вы кушать хотите?» – это возможность погрузиться в атмосферу эпохи Федора Михайловича Достоевского, попробовать любимые блюда писателя и героев его произведений. За два года своего существования фестиваль стал известен не только в Новгородской области, но за ее пределами.'
                },
                {
                    image: '',
                    header: 'Грантовый конкурс «Земля Новгородская»',
                    text: 'Туристический офис «Русь Новгородская» запустил грантовый конкурс для реализации проектов в сфере туризма.'
                },
                {
                    image: '',
                    header: 'Обучающий семинар "Развитие туризма с учётом особенностей территории"',
                    text: 'Обучающий семинар.'
                },
                {
                    image: '',
                    header: 'Обучающий семинар "Генерация идей с учётом особенностей территории"',
                    text: 'Обучающий семинар'
                },
            ]
        }

        var assistance = {
            header: 'Содействие в проведении фестивалей',
            items: [
                {
                    image: '',
                    title: 'Фестиваль музыкальных древностей «Словиша»',
                    text: 'Международный фестиваль музыкальных древностей «СЛОВИША» памяти Владимира Ивановича Поветкина. Символом фестиваля являются пятиструнные лирообразные гусли с резной надписью «СЛОВИША», найденные в 1975 году в Великом Новгороде на Троицком раскопе в слоях 70-х годов XI века.',
                },
                {
                    image: '',
                    title: 'Фестиваль <br>Сарафан',
                    text: 'Основная идея фестиваля — создать мост между прошлым и будущим. Через демонстрацию возможностей использования элементов традиционного русского костюма в современном дизайне, привить любовь к национальной культуре и традициям, популяризировать российские бренды на рынке моды.',
                },
                {
                    image: '',
                    title: 'Межрегиональный фестиваль «ИГРЫ И ЛЮДИ»',
                    text: 'Фестиваль проводится с целью популяризации культурного наследия Новгородской области через сохранение и развитие народной игровой культуры России, приобщения широких слоев населения, особенно детей и молодежи, к традиционной игровой культуре, воспитания у подрастающего поколения бережного отношения к культурному наследию своего народа.',
                },
                {
                    image: '',
                    title: 'Фестиваль средневековой музыки «Княжья братчина»',
                    text: 'Международный фестиваль музыкальных древностей «СЛОВИША» памяти Владимира Ивановича Поветкина. Символом фестиваля являются пятиструнные лирообразные гусли с резной надписью «СЛОВИША», найденные в 1975 году в Великом Новгороде на Троицком раскопе в слоях 70-х годов XI века.',
                },
                {
                    image: '',
                    title: 'Фестиваль «Забытый подвиг — вторая ударная армия»',
                    text: 'Основная идея фестиваля — создать мост между прошлым и будущим. Через демонстрацию возможностей использования элементов традиционного русского костюма в современном дизайне, привить любовь к национальной культуре и традициям, популяризировать российские бренды на рынке моды.',
                },
                {
                    image: '',
                    title: 'Фестиваль <br>КиноПРОБЫ',
                    text: 'Второй музыкальный международный рок-фестиваль, состоялся в июне 2018 года на территории аэродрома Окуловка в Новгородской области. В программе приняли участие Би-2, ДДТ, Алиса, Леонид Агутин, Brainstorm, Гречка, Дельфин и многие другие.',
                },
            ]
        }

        tourismInfrastructure = {
            header: 'Разработка туристической инфраструктуры',
            items: [
                {
                    image: '',
                    title: 'Туристская навигация',
                    text: 'Карта Гостя предназначена для индивидуального туриста, желающего посетить как можно больше музеев и экскурсий в Новгородской области. Она также дает ряд привилегий, включая скидки при бронировании гостиниц, посещении ресторанов и кафе, проезде на междугороднем общественном транспорте.',
                },
                {
                    image: '',
                    title: 'Информационные центры',
                    text: 'Устройство туристических информационных центров на территории Новгородской области.',
                },
                {
                    image: '',
                    title: 'Организация фотовыставок',
                    text: 'В аэропортах «Пулково» (Санкт-Петербург), «Внуково» и «Шереметьево» (Москва), в г. Петрозаводск.',
                },
                {
                    image: '',
                    title: 'Брендинг региона',
                    text: 'Разработка и продвижение туристко-экспортного бренда Новгородской области.',
                },
                {
                    image: '',
                    title: 'Участие в международных туристских выставках',
                    text: '«Интурмаркет», «ОТДЫХ», «MITT».',
                },
                {
                    image: '',
                    title: 'Поддержка проектов',
                    text: 'Поддерживаем проекты, направленные на развитие новых туристических маршрутов и мероприятий.',
                },
                {
                    image: '',
                    title: 'Путеводитель по Великому Новгороду',
                    text: 'Найти одну-единственную фразу. Разгадать хитроумную загадку. Пройти непростой квест. И все это — в древнейшем российском городе.',
                },
            ]
        }

block content
    .intro.intro--getting-to
        .container
            p.intro__subheader Лучшие маршруты и советы для путешественников
            h1.intro__header КАК ДОБРАТЬСЯ ДО <br>ВЕЛИКОГО НОВГОРОДА
            .intro__text Планируйте свое путешествие с легкостью и комфортом
            include components/play-video-button.pug
            .intro-grid.intro-grid--small
                .intro__item
                    .intro__item-text поможем подобрать <br>оптимальный маршрут
                .intro__item
                    .intro__item-text трансферы из любого <br>города России
                .intro__item
                    .intro__item-text интерактивные карты и <br>путеводители для удобства <br>планирования
    .section.section--gray.getting-to
        .container
            h2.section__header.getting-to__header Добраться до Великого Новгорода:
            .getting-to-grid
                .getting-to__item
                    .getting-to__item-top
                        .getting-to__item-header Пункт <br>отправления
                    .getting-to__item-bottom
                        .getting-to__item-from.active Из Москвы
                        .getting-to__item-from Из Санкт-Петербурга
                        .getting-to__item-from Из Краснодара
                        .getting-to__item-from Из Екатеринбурга
                    a.btn.getting-to__item-link.mobile-only(href="#") Смотреть на карте
                .getting-to__item
                    .getting-to__item-top
                        img.getting-to__item-image(src="img/car.svg", alt="" width="63.942")
                        .getting-to__item-header На <br>машине
                    .getting-to__item-bottom
                        p
                            strong Время в пути: 
                            | ≈9 часов
                        p
                            strong Описание маршрута: 
                            | <br>Выезжаете из Москвы по трассе М-9 и едете в сторону Великого Новгорода. Через Тверь, туманы и поля. Не забудьте заправиться!
                .getting-to__item
                    .getting-to__item-top
                        img.getting-to__item-image(src="img/bus-blue.svg", alt="" width="85.922")
                        .getting-to__item-header На <br>автобусе
                    .getting-to__item-bottom
                        p 
                            strong Время в пути: 
                            | ≈9 часов
                        p 
                            strong Отправление: 
                            | <br>Казанский вокзал, ул. <br>Комсомольская, 4
                            a.getting-to__item-map-link(href="#") смотреть на карте
                        p
                            strong Расписание: 
                            a.btn.getting-to__item-link(href="#") Смотреть на сайте автовокзала
                .getting-to__item
                    .getting-to__item-top
                        img.getting-to__item-image(src="img/train.svg", alt="" width="64.941")
                        .getting-to__item-header На <br>поезде
                    .getting-to__item-bottom
                        p С Ленинградского вокзала можно уехать в Великий Новгород на поезде № 042А «Ильмень». Он отправляется из Москвы, с Октябрьского вокзала, в 22.05 ежедневно.
                        p 
                            strong Время в пути: 
                            | ≈8 часов
                            a.getting-to__item-map-link(href="#") смотреть на карте
                        p 
                            strong Отправление: 
                            | <br>Центральный автовокзал, ул, Ленина, 24
                        p
                            strong Расписание: 
                            a.btn.getting-to__item-link(href="#") Смотреть на сайте автовокзала
            .map-rounded
                include components/map.pug

    .section.section--blue.getting-to-help
        .container
            .how-to-get-bottom.how-to-get-bottom--inner
                .how-to-get-bottom__left
                    img.how-to-get__image(src="img/coat-of-arms.svg" alt="")
                .how-to-get-bottom__right
                    p.how-to-get-bottom__text НУЖНА ПОМОЩЬ? <br>ОСТАВЬТЕ СВОИ КОНТАКТЫ И МЫ СВЯЖЕМСЯ С ВАМИ.
                    form.how-to-get-form
                        .how-to-get-form__part
                            .how-to-get-form__label Как вам удобнее связаться?
                            include components/dropdown.pug
                        .how-to-get-form__part
                            .how-to-get-form__label Номер телефона / E-mail
                            input.how-to-get-form__input(type="text" placeholder="+7 912 912 91 91 / mail@mail.ru")
                        button.btn.how-to-get-form__button(type="submit") Получить помощь

    include components/partners.pug
    .section.section--gray.welcome
        include components/welcome.pug