.not-found
    .not-found__left
        img.not-found__image(src="img/404.svg", alt="")
    .not-found__right
        h2.not-found__header.section__header УПС! ЧТО-ТО ПОШЛО НЕ ТАК!
        .not-found__text К сожалению, мы не смогли найти запрашиваемую страницу. Пожалуйста, <br>воспользуйтесь ссылками ниже, чтобы найти требуемую информацию