.atmosphere-grid
    .atmosphere__item
    .atmosphere__item
    .atmosphere__item
    .atmosphere__item
    .atmosphere__item
    .atmosphere__item
    .atmosphere__item
    .atmosphere__item
a.btn.btn--blue.atmosphere__button(href="#") Забронировать