.card-content__item
    img.card-content__item-icon(src=item.icon, alt="")
    .card-content__item-content
        .card-content__item-header !{item.header}
        .card-content__item-text !{item.text}