.dropdown
    input(type='hidden' name='dropdown' value='')
    .dropdown__layout
    .dropdown__current Выберите способ связи
    ul.dropdown-items
        li.dropdown__item Способ связи №1
        li.dropdown__item Способ связи №2
        li.dropdown__item Способ связи №3