form.how-to-get-form
    .how-to-get-form__part
        .how-to-get-form__label Как вам удобнее связаться?
        include dropdown.pug
    .how-to-get-form__part
        .how-to-get-form__label Номер телефона / E-mail
        input.how-to-get-form__input(type="text" placeholder="+7 912 912 91 91 / mail@mail.ru")
    button.btn.how-to-get-form__button(type="submit") Помогите мне