.how-to-get-bottom
    .how-to-get-bottom__left
        img.how-to-get__image(src="img/coat-of-arms.svg" alt="")
    .how-to-get-bottom__right
        p.how-to-get-bottom__text НУЖНА ПОМОЩЬ? <br>ОСТАВЬТЕ СВОИ КОНТАКТЫ И МЫ СВЯЖЕМСЯ С ВАМИ.
        form.how-to-get-form
            include dropdown.pug
            input.how-to-get-form__input(type="text" placeholder="+7 912 912 91 91 / mail@mail.ru")
            button.btn.how-to-get-form__button(type="submit") Помогите мне