.intro.intro--main
    .container
        h1.intro__header РУСЬ <br>НОВГОРОДСКАЯ
        p.intro__subheader.intro__subheader--big современное путешествие в историю <br>России
        .intro__bottom
            .intro__bottom-item
                p Построй индивидуальный маршрут <br>при помощи специалиста и #[span получи <br>скидку 30% на Карту гостя]
                a.btn(href="#")
                    img(src="img/navigation.svg" alt="" width="12" height="12")
                    | Популярные маршруты
            .intro__bottom-item
                p Или воспользуйся <br>путеводителем:
                a.btn.btn--white(href="#" style="margin-left:-17px;")
                    img(src="img/pin.svg" alt="" width="12" height="15")
                    | Ближайшие события