.container
    .welcome-top
        .welcome-top__left
            h2.welcome__header.section__header Добро пожаловать <br>в Новгородскую область!
            a.btn.welcome__button(href="#")
                img(src="img/pin-white.svg" alt="")
                | Путеводитель
        .welcome-top__right
            img.welcome__image(src="img/welcome-image.png" alt="")
    .welcome-bottom
        .welcome-bottom__left Скидки, бонусы и полезная информация для гостей Великого Новгорода и Новгородской области.
        .welcome-bottom__right
            .welcome-download
                p.welcome-download__text Скачай наше приложение бесплатно:
                .welcome-download__buttons
                    a.welcome-download__button.welcome-download__button--blue(href="#")
                        img(src="img/appstore.svg", alt="")
                        | Загрузите в App Store
                    a.welcome-download__button.welcome-download__button--white(href="#")
                        img(src="img/google-play-colored.svg", alt="")
                        | Доступно в Google Play 